<%= form_for(@warehouse) do |f| %>
  <% if @warehouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@warehouse.errors.count, "error") %> prohibited this warehouse from being saved:</h2>

      <ul>
      <% @warehouse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Warehouse_id %><br />
    <%= f.text_field :warehouse_id %>
  </div>
  <div class="field">
    <%= f.label :Warehouse_name %><br>
    <%= f.text_field :warehouse_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :Phone %><br>
    <%= f.text_field :phone %>
  </div>
    <div class="field">
    <%= f.label :Code %><br>
    <%= f.text_field :code %>
  </div>
    <div class="field">
    <%= f.label :Distributor_id %><br>
    <%= f.select :distributor_id, options_for_select(Distributor.all.map{|x| [x.distributor_name, x.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
